
body {
    background: #ccc;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

#board {
    margin: 0 auto;
    width: 850px;
}
#board polygon {
    /* fill: #ddd; */
    stroke: #ccc;
    stroke-width: 3;
    pointer-events: all;
}
#board polygon:hover {
    fill: #999;
}
