
body {
    background: #ccc;
}

h1 {
    text-align: center;
}

canvas {
    background: #ccc;
    border: 0;
    display: block;
    margin: 0 auto;
}

#board polygon {
    fill: none;
    pointer-events: all;
}
#board polygon:hover {
    fill: red;
}
